$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

#overlay {
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 60px;
    background-color: #fff;

    background: rgba(255, 255, 255, .9);

    transition: all 1s ease;

    &.hidden {
        .steps {
            opacity: 0;
        }
    }
}

#map-canvas, #map_canvas {
    height: 100%;
}

#route-steps {    cursor: pointer;

    .loading {
        margin-bottom: 10px;
    }

    .steps {
        margin-top: 10px;
        transition: all 1s ease;

        .step {
            min-height: 50px;
            position: relative;

            h4 {
                margin: 0px;
            }

            form {
                margin: 0px;
            }

            .alert-info {
                background: #eee;
                border-color: #ddd;
            }
        }
    }
}